#AutoCompleteZh{background:#fff;border:1px solid #4190db;display:none;width:50%;}
#AutoCompleteZh ul{list-style-type:none;margin:0;padding:0;}
#AutoCompleteZh li{color:#333;cursor:pointer;font:12px/22px \5b8b\4f53;text-indent:5px;}
#AutoCompleteZh .hover{background:#6eb6fe;color:#fff;}

#AutoCompleteEn{background:#fff;border:1px solid #4190db;display:none;width:50%;}
#AutoCompleteEn ul{list-style-type:none;margin:0;padding:0;}
#AutoCompleteEn li{color:#333;cursor:pointer;font:12px/22px \5b8b\4f53;text-indent:5px;}
#AutoCompleteEn .hover{background:#6eb6fe;color:#fff;}