.unUse {
  width: 1px;
  height: 1px;
  background-repeat: no-repeat;
  background-size: 1px;
  background-image: url(../../images/sku/bgyp.png);
  background-image: url(../../images/sku/cfyp.png);
  background-image: url(../../images/sku/chaju.png);
  background-image: url(../../images/sku/chaye.png);
  background-image: url(../../images/sku/clby.png);
  background-image: url(../../images/sku/cybz.png);
  background-image: url(../../images/sku/dzsm.png);
  background-image: url(../../images/sku/fzxm.png);
  background-image: url(../../images/sku/gylp.png);
  background-image: url(../../images/sku/jsqc.png);
  background-image: url(../../images/sku/pjxb.png);
  background-image: url(../../images/sku/shipin.png);
  background-image: url(../../images/sku/szbj.png);
  background-image: url(../../images/sku/tccp.png);
  background-image: url(../../images/sku/tyyp.png);
  background-image: url(../../images/sku/wanju.png);
  background-image: url(../../images/sku/whyp.png);
  background-image: url(../../images/sku/xiangxiu.png);
  background-image: url(../../images/sku/zsyp.png);
}
/* .u1 {background-image: url(../../images/sku/blzp.png);}
.u2 {background-image: url(../../images/sku/blzp.png);} */